/*-----------------------------------------------------------------------------------

    Description: This is html5 template
    Author: Emmanuel Michira
    Author URI:
    Version: 2.0

-----------------------------------------------------------------------------------

    CSS INDEX
    ===================



-----------------------------------------------------------------------------------*/
/*----------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,700,800|Open+Sans:300i,400,400i,600,700,800');
*{
	margin:0;
	padding:0;
}
body {
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	line-height:26px;
	background:#fff;
  font-weight: 400;
}
.floatleft {float:left}
.floatright {float:right}
img {
	max-width:100%;
	height:auto
}
#logoResize {
  height: 45px;
}
.fix {overflow:hidden}
p {
	margin:0px;
	color: #000000;
}
h1, h2, h3, h4, h5, h6 {
	color: #fb9902;
	margin-bottom: 10px;
	margin-top: 0px;
  font-family: 'Montserrat', sans-serif;
}
input:focus,select:focus{
	outline:none;
}
input{
  color: #000000;
}
input, button{
    transition:all .3s;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
}
a {
	-webkit-transition:all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
	text-decoration:none;
	color:#fff;
	font-size:14px;
}
a:hover{
	color:#fb9902;
}
a:active, a:hover, a:focus {
	outline: none;
	text-decoration:none;
}
button:focus{
	outline:none;
}
ul{
	list-style: outside none none;
	margin: 0;
	padding: 0;
}
:before,:after{
  -webkit-transition: all .3s;
  transition: all .3s;
}
.bg-1{background:#ffffff;}
.bg-2{background:#131619;}

.ptb-80{padding: 80px 0px}

.mb-30{margin-bottom: 30px;}

.bg-img-4{background: url(../images/bg/4.jpg)no-repeat center center / cover}
.bg-img-5{background: url(../images/bg/5.jpg)no-repeat center center / cover}
.bg-img-6{background: url(../images/bg/6.jpg)no-repeat center center / cover}

.black-opacity{
  position: relative;
  z-index: 9;
}
.black-opacity:before{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  content: "";
  z-index: -9;
  opacity: .8;
  filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
/*---------header-area start---------*/
.header-area{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  left: 0;
}
.header-bottom {
  border-bottom: 1px solid #fb9902;
}
.logo{
  padding: 20px 0px;
}
.mainmenu ul li{
  position: relative;
  display: inline-block;
  margin-left: 25px;
}
.mainmenu ul li:first-child{
  margin-left: 0px;
}
.mainmenu ul li a {
    color: #fff;
    padding: 26px 0px;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
}
.mainmenu ul li.active > a,.mainmenu ul li:hover > a{
  color: #fb9902  ;
}
.mainmenu ul li > ul {
  position: absolute;
  left: 0;
  top: 120%;
  background: #fff;
  box-shadow: 0px 2px 3px rgba(0,0,0,.1);
  width: 150px;
  text-align: left;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  border-top: 2px solid #fb9902;
}
.mainmenu ul li:hover > ul{
  visibility: visible;
  opacity: 1;
  filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  top: 100%;
}
.mainmenu ul li > ul li{
  display: block;
  margin: 0px;
}
.mainmenu ul li > ul li a{
  text-transform: capitalize;
  color: #222;
  padding: 5px 0px;
}
.mainmenu ul li > ul li:hover a{
  padding-left: 10px;
  color: #fb9902;
}
.header-area.sticky{
  background: #0d0f11;
  box-shadow: 0px 1px 3px rgba(0,0,0,.2);
  transition: all 0.5s ease 0s;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}
.header-area.sticky .header-bottom {
  border-bottom: none;
}
.section-title{
  margin-bottom: 45px;
}
.section-title h2{
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 20px;
}
.section-title h3{
  font-size: 27px;
  font-weight: 700;
  margin-bottom: 20px;
}
.section-title p{
  font-style: italic;
  font-size: 16px;
}
/*---------header-area start---------*/
/*---------------------------- responsive-area start --------------------------*/
.responsive-menu-wrap{
  position:relative;
}
.responsive-menu-wrap .slicknav_btn {
    background-color: transparent;
    border-radius: 0;
    display: block;
    float: right;
    margin: 0px 0;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    height: 35px;
    width: 35px;
}
.slicknav_menu .slicknav_icon {
  margin: 2px 116px;
}
.responsive-menu-wrap .slicknav_menu .slicknav_menutxt {
  display: none;
}
.responsive-menu-wrap .slicknav_menu {
    background: transparent none repeat scroll 0 0;
    font-size: 15px;
    padding: 21px 0;
    position: absolute;
    right: 0;
    top: 0;
}
.responsive-menu-wrap .slicknav_menu .slicknav_icon-bar {
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  display: block;
  height: 2px;
  width: 25px;
  background: #fff;
}
.responsive-menu-wrap .slicknav_nav {
    background: #fb9902 none repeat scroll 0 0;
    border-radius: 0px;
    clear: both;
    color: #fff;
    font-size: 15px;
    margin: 0;
    padding: 5px 0;
    position: relative;
    top: 22px;
    width: 720px;
    right: 0px;
    left: 125px;
    z-index: 9999999;
    position: relative;
}
.slicknav_nav a {
  color: #f1f1f1;
  text-decoration: none;
  text-transform: capitalize;
}
.slicknav_nav a i{display:none}
.slicknav_nav a:hover {
  background: transparent none repeat scroll 0 0;
  border-radius: 0;
  text-shadow:0px 3px 5px rgba(0,0,0,.5);
  color:#fff;
}
.responsive-menu-wrap .slicknav_nav .slicknav_row:hover {
  background: transparent;
}
.responsive-menu-wrap .slicknav_nav .slicknav_arrow {
  font-size: 10px;
  margin: 5px;
}
.responsive-menu-wrap .slicknav_open .slicknav_icon span:first-child {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  position: relative;
  top: 5px;
}
.responsive-menu-wrap .slicknav_open .slicknav_icon span:last-child{
  transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
}
.responsive-menu-wrap .slicknav_open .slicknav_icon span:nth-child(2){display:none}
/*---------------------------- responsive-area end --------------------------*/
/*---------slider-area start---------*/
.slider-items {
  position: relative;
  z-index: 9;
}
.slider-items:before{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: #000;
  content: "";
  height: 100%;
  opacity: .7;
  filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}
.slider-items img{
  visibility: hidden;
}
.single-slider {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 80px;
}
.single-slider h2{
  font-size: 62px;
  line-height: 62px;
  margin-bottom: 25px;
  font-weight: 600;
}
.single-slider p{
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 25px;
  padding-right: 50px;
}
.single-slider2.single-slider p{
  padding: 0px 0px 0px 50px;
}
.single-slider a{
  display: inline-block;
  padding:10px 30px;
  background: #fb9902;
  color: #fff;
  text-transform: uppercase;
  color: #fff;
  border-radius: 3px;
}
.single-slider a:hover{
  background: #fff;
  color: #fb9902;
}
.slider-active .owl-dots{
  position: absolute;
  left: 0;
  bottom: 20px;
  right: 0;
  text-align: center;
  width: 100%;
}
.slider-active .owl-dot {
  height: 12px;
  width: 4px;
  background: #fff;
  display: inline-block;
  margin:0px 2px;
  border-radius: 50%;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.slider-active .owl-dot.active{
  background: #fb9902;
  height: 17px;
}
/*---------slider-area end---------*/
/*-------------------breadcumb-area start-------------------*/
.breadcumb-area{
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.breadcumb-wrap{
  padding-top: 70px;
}
.breadcumb-wrap h2{
  font-size: 50px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}
.breadcumb-wrap ul li{
  display: inline-block;
  margin: 0px 2px;
  font-size: 16px;
  font-weight: 600;
}
.breadcumb-wrap ul li.active{
  color: #fb9902;
}
/*---------breadcumb-area end----------------------*/
/*---------how-usms-works-area start---------*/
.how-usms-area .how-usms-wrap{
  padding: 0px;
}
.how-usms-wrap p{
  margin-bottom: 20px;
}
.how-usms-wrap a{
  display: inline-block;
  padding:10px 30px;
  background: #fb9902;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 10px;
  border-radius: 3px;
}
.how-usms-wrap a:hover{
  background: #5bc0de;
  color: #222;
}
.how-usms-wrap > a {
  padding: 12px 20px;
}
.how-center{
  text-align: center;
  font-family: "proxima-nova",sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.4;
}
.kati{
  text-align: center; 
  font-weight: bolder;
  
}
/*---------how-usms-works-area end---------*/
/*---------why-usms-area start---------*/
.why-usms-wrap {
  overflow: hidden;
  background: #0d0f11;
}
.why-usms-info {
    overflow: hidden;
    padding: 17px 0px;
}
.why-usms-info h3{
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}
.why-usms{
  padding: 130px 0px 100px;
}
.why-usms .why-usms-wrap{
    text-align: center;
    padding: 40px 40px 30px;
    margin-bottom: 30px;
}
.why-usms .why-usms-icon {
    background: #191b1e;
    float: none;
    margin-right: 0;
    height: 110px;
    padding: 30px;
    width: 110px;
    margin:0px  auto 10px;
    border-radius: 50%;
}
/*---------why-usms-area end---------*/
/*---------pricing-area start---------*/
.pricing-area{
  padding: 80px 0px 80px;
}
.pricing-wrap{
  margin-bottom: 30px;
  background: #333;
  border-radius: 10px;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 30px;
}
.how-center-3{
  text-align: center;
  font-family: "proxima-nova",sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.4;
}
/*---------pricing-area end---------*/
/*-------------------------contact-area start-------------------------*/
.discount-area{
  padding: 100px 0px;
}
.discount-wrap a{
  display: inline-block;
  padding: 10px 30px;
  text-transform: uppercase;
  background: #fb9902;
  color: #fff;
  font-weight: 600;
  border-radius: 3px;
}
.discount-wrap a:hover{
  background: #5bc0de;
  color: #222;
}
/* .discount-area.black-opacity:before{
  opacity: .9;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
} */
.contact-area{
  padding-top: 130px;
}
.contact-form textarea{
  color: #000000;
  height: 270px;
}
.contact-wrap ul li{
  position: relative;
  padding:30px 20px 30px 100px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  background: #131619;
  margin-bottom: 25px;
  border-radius: 5px;
}
.contact-wrap ul li:last-child{
  margin-bottom: 0px;
}
.contact-wrap ul li i{
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  left: 30px;
  font-size: 35px;
  color: #fb9902;
}
.contact-wrap ul li p{
  background: #131619;
  color: white;
  font-size: 14px;
  margin-top: 8px;
  font-weight: 400;
}
.contact-wrap ul li p span{
  display: block;
}
.how-center-2{
  text-align: center;
  font-family: "proxima-nova",sans-serif;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.4;
}
.email{
  text-transform: lowercase;
}
.place{
  text-transform: capitalize;
}
/*-------------------------contact-area end-------------------------*/
/*---------footer-area start---------*/
.footer-top{
  padding: 100px 0px 70px;
}
.footer-widget {
  margin-bottom: 30px;
}
.footer-widget h2{
  padding-bottom: 10px;
  margin-bottom: 25px;
  position: relative;
  font-size: 24px;
  font-weight: 700;
}
.footer-widget h2:before{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 2px;
  background: #fff;
  content: "";
}
.footer-widget p{
  margin-bottom: 20px;
}
.footer-content ul li{
  display: block;
  margin-bottom: 5px;
  line-height: 30px;
  padding-left: 30px;
  position: relative;
}
.footer-content ul li i{
  position: absolute;
  left: 0;
  color: #fb9902;
  font-size: 18px;
  top: 7px;
}
.footer-time ul li span.color{
  color: #fb9902;
}
.footer-menu ul li a{
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 5px;
}
.footer-menu ul li a:before{
  position: absolute;
  left: 0;
  top: 0;
  content: "\f061";
  color: #fff;
  font-size: 12px;
  font-family: fontawesome;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
}
.footer-menu ul li a:hover:before{
  padding-left: 5px;
}
.instragram ul{
  overflow: hidden;
}
.instragram ul li{
  float: left;
  margin:3px 3px;
  width: 23%;
}
.instragram ul li a{
  display: block;
  position: relative;
}
.instragram ul li a:before{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  content: "";
  opacity: 0;
  filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
}
.instragram ul li a img{
  width: 100%;
}
.instragram ul li a:hover:before{
  opacity: .5;
  filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
.footer-bottom-area{
  padding: 20px 0px;
  background: #fb9902;
}

.copyright p a{
  font-weight: 600;
  color: #222;
}
.socil-media-icon {
  text-align: right;
}
.socil-media-icon ul li{
  display: inline-block;
}
.socil-media-icon ul li a{
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  display: block;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
}
.socil-media-icon ul li a:hover{
  background: #fff;
  color: #222;
}
a#scrollUp {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
}
a#scrollUp:hover{
  color: #222;
}
a#scrollUp i:before{
  font-size: 40px;
}
/*---------footer-area end---------*/
/*-------------------------forms-area end-------------------------*/
.contact-form input,.contact-form textarea{
  width: 100%;
  height: 45px;
  margin-bottom: 25px;
  border-radius: 3px;
  background: transparent;
  border:1px solid #000000;
  padding-left: 20px;
}
.blog-form textarea,.contact-form textarea{
  height: 200px;
  padding-top: 10px;
}
.contact-form button{
  padding:10px 30px;
  background: #fb9902;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  border-radius: 3px;
  border:none;
}
.contact-form button:hover{
  background: #5bc0de;
  color: #222;
}
/*-------forms-area end---------------------*/
/*--------login-register-area start ----------*/
.katikati{
  text-align: center;
  font-weight: bold;
  background-color: #131619;
}
.checkout-title{
  padding:20px 30px;
  background:#fb9902;
  color:#fff;
  font-size:20px;
  font-weight:600;
  text-transform: uppercase;
  margin-bottom:0px;
}
.checkout-form{
  background:#131619;
  padding:30px 30px 30px;
}
.checkout-form p, .checkout-form span{
  color:#fb9902;
  font-weight:600;
  margin-bottom:5px;
  font-size:14px;
}
.checkout-form input, .checkout-form select {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #cdd5d9;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 400;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 15px;
  width: 100%;
}
.checkout-form a.order,.checkout-form button{
  display:block;
  width:100%;
  height:50px;
  line-height:50px;
  color:#fff;
  font-weight:700;
  background:#fb9902;
  border-radius:5px;
  text-align:center;
  font-size:16px;
}
.checkout-form a.order:hover{background:#5bc0de}
/*--------login-register-area end ----------*/